@tailwind base;
@tailwind components;
@tailwind utilities;


.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.input {
    margin-top: .625rem;
    display: block;
    width: 100%;
    border-radius: .5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(213 218 225 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: .625rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    --tw-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0px 1px 2px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.textarea {
    margin-top: .625rem;
    display: block;
    width: 100%;
    border-radius: .5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(213 218 225 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: .625rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    --tw-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0px 1px 2px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

header .nav-btn {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
}

footer {
    margin-top: auto;
}

@media only screen and (max-width: 768px) {

    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background: #222123;
        transition: 0.7s ease;
        transform: translateY(-100vh);

    }

    .nav-close-btn {}

    header .responsive_nav {
        transform: none;
    }

    .md-device {
        flex-direction: column;
        gap: 3rem;
    }

    .home-logo {
        width: 170px;
        height: 45px;
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .nav-mobile a {
        width: 7rem;
        height: 3.5rem;
    }

    .home-heading {
        font-size: 2rem;
    }

    .hotel-rev {
        width: 85%;
    }

    .nav-social-icons {}

    .check-in-out {
        flex-direction: column;
        gap: 2rem;
    }

    .check-in-out img {
        transform: rotate(90deg);
    }

    .check-in-out input {
        width: 15rem;
    }

    .gusts {
        flex-direction: column;
        gap: 2rem;
    }
.special-offer{
    font-size: 3rem;
}

    .special-offer-para {
        font-size: 12px;
        padding: 0 30px;
        line-height: 1rem;
    }

    .card {
        width: 20rem;
    }

    .card-img {
        width: 20rem;
        height: 15rem;
    }

    .a-and-a-p{
        font-size: 15px;
    }
    .social-links h1{
        font-size: 3rem;
    }

    .social-links .social-icons{
        gap: 2rem;
    }
    .social-links img{
        width: 40px;
        height: 40px;
    }

    footer {
        font-size: 11px;
    }




    /* gallery */
    .gallery-img {
        grid-template-columns: 1fr;
    }

    .gallery-para {
        font-size: 11px;
        padding: 0 30px;
        line-height: 1rem;
    }


    /* About */

    .about-section {
        flex-direction: column;

    }



    .booking-page {
        flex-direction: column;
        height: auto;
        width: auto;
        gap: 12rem;
    }

    .booking-page .booking-container {
        height: auto;
        padding: 2rem;
        box-shadow: 0px 0px 20px 0px #a3a3a3;

    }

    .booking-page input {
        width: 15rem;
    }

    .booking-page .book-inp {
        grid-template-columns: 1fr;
    }

    .booking-page form {
        width: 100%;
        min-height: 100vh;
    }

    .booking-page .booking-details {
        width: 100%;
        height: 100vh;
        margin-top: 10rem;
        border: none;
        padding: 2rem;
    }

}